body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../../pokemon_images/Pokémon-wallpapers-5.jpg');
  }
  
  h1 {
    text-align: center;  
    background-color: #007bff; 
    font-size: 80px;
    color: yellow;
    padding: 5px 10px;
    display: inline-block;
    margin: 20px auto;
  }

  h2 {
    text-align: center; 
    color: #007bff; 
    font-size: 55px;
  }

  p {
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo transparente */
    padding: 20px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    width: 50%; /* Ancho del párrafo */
    margin: 0 auto; /* Centrar horizontalmente */
}

  
  button {
    display: block; 
    margin: 0 auto; 
    padding: 10px 20px; 
    font-size: 30px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

